// You can add global styles to this file, and also import other style files

body {
  margin-bottom: 10px;
  margin-top: 15px;
}

.input-group {
  margin-bottom: 15px;
}

.nav-item {
  margin-right: 2rem;
  a {
    i{
      margin-right: 6px;
    }
    font-weight: 600;
  }
}