<div class="row">
  <div class="col-md-12">
    <table class="table table-responsive table-bordered table-hover">
      <thead>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Price</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>Classic</td>
        <td>Classic Ad</td>
        <td>$269.99</td>
      </tr>
      <tr>
        <td>Standout</td>
        <td>Standout Ad</td>
        <td>$322.99</td>
      </tr>
      <tr>
        <td>Premium</td>
        <td>Premium Ad</td>
        <td>$394.99</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
