<div class="card">
  <h4 class="card-header">About</h4>
  <div class="card-body">
    <ul>
      <li>
        <b>Template Used: </b> <a href="https://github.com/DavideViolante/Angular-Full-Stack" target="_blank">Angular-Full-Stack</a>
      </li>
      <li>
        <b>This project uses the MEAN stack(Angular+Node+Mongo)</b>
      </li>

      <li>
        <b>Known issues:</b>
        <ol>
          <li>If we have more than one rule for same Adtype (eg: classic,premium) and rule type (eg: price drop,deal),
            then we will consider the first as of now.
          </li>
          <li>
            Product table is now limited to 3 Types : Classic,Premium, StandOut
          </li>
          
        </ol>
      </li>
    </ul>
  </div>
</div>
